@charset "UTF-8";
:root {
  --linkColor: #93E5DC;
  --buttonColor: #3EA0A9;
  --buttonColorHover: #0EC6D9;
  --buttonColorPressed: #06555D;
  --primaryColorHigh: #34998E;
  --textColorLight: white;
  --textColorButton: white;
  --textColorDark: #043E43;
  --transparentLight: rgba(255, 255, 255, 0.3);
  --imageFilter: black;

  /* Change this image to your own. */
  --image: url(https://gitlab.com/quarkdown/protonmail-theme/raw/master/Images/adn.png);
}

/*
*, *::before, *::after {
  box-sizing: border-box;
}
*/

/* MAIN BACKGROUND */
div#body {
  position: relative;
}
div#body::after {
  content: '';
  background: var(--imageFilter);
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}
div#body::before {
  content: '';
  background-image: var(--image);
  background-size:cover;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -2;
}
/* Childs will be transparent (until otherwise specified */
div#body > * {
  background: transparent;
}
.headerSecuredDesktop-logo {
  background: transparent;
}



/* BUTTON STUFF */
/* IN CONTACTS */
.pm_button, .pm_button:focus {
  color: var(--textColorButton);
  background-color: transparent;
  border-color: var(--buttonColor);
  border-width: 2px;
}
.ua-firefox .pm_button, 
.ua-firefox .pm_buttons {
  color: var(--textColorButton);
}
.ua-firefox .pm_button:hover, 
.ua-firefox .pm_buttons:hover {
  background-color: var(--buttonColorHover);
  color: var(--textColorButton);
}
.pm_button.link {
  color: var(--colorButton);
}
.pm_buttons.link .pm_button {
  color: var(--linkColor);
  background: transparent;
  padding-left: 20px;
}
.pm_buttons.link:hover .pm_button {
  color: var(--textColorDark);
}
.sidebar-btn-compose {
  color: var(--textColorLight) !important;
}
.sidebarApp-container .sidebar-btn-compose {
  background-color: transparent;
  color: var(--buttonColor);
  border-color: var(--buttonColor);
  border-width: 2px;
  padding: 5px;
}
.sidebarApp-container .sidebar-btn-compose:hover {
  background-color: var(--buttonColor);
  color: var(--textColorButton);
}
.sidebarApp-container .sidebar-btn-compose:active {
  color: var(--textColorLight);
}
.toolbar-button-options .pm_buttons,
#pm_composer .composer footer .pm_button {
  color: var(--textColorDark);
}
.toolbar-button-options .pm_buttons:hover {
  color: var(--buttonColor);
}
#pm_composer .composer footer .pm_button.primary,
.pm_button.primary, .pm_button.primary:focus  {
  background-color: var(--buttonColor);
  color: var(--textColorButton);
  border: none;
  outline: none;
}
#pm_composer .composer footer .pm_button.primary:hover,
.pm_button.primary:hover {
  background-color: var(--buttonColorHover);
  color: var(--textColorButton);
  border: none;
}
#pm_composer .composer footer .pm_button.primary:active,
.pm_button.primary:active {
  background: linear-gradient(var(--buttonColorPressed), var(--buttonColor));
  color: var(--textColorButton);
  border: none;
  outline: none;
}
/* MESSAGE LIST NAVIGATION BUTTONS */
.pm_toolbar .pm_buttons,
.pm_toolbar:hover .pm_buttons {
  color: var(--textColorDark);
}
/* MESSAGE NAVIGATION BUTTONS */
.actions .pm_buttons,
.actions:hover .pm_buttons {
  color: var(--textColorDark);
}
/* LOGOUT */
.pm_dropdown .navigationUser-logout:hover {
  background-color: var(--buttonColorHover) !important;
  color: var(--textColorButton);
  border: none;
}
/* Star Button */
#conversation-view header h1 .starButton:hover {
  background-color: inherit;
}
#tooltip_hlfoz8h1m3 {
  z-index: -9999 !important;
}
/* END BUTTON STUFF */


/* LINKS */
p a {
  color: var(--primaryColorHigh);
}



/* TOP NAVIGATION */
.navigation > li.active, .navigation > li:hover {
  background-color: var(--primaryColorHigh);
  border-color: var(--primaryColorHigh);
  border-top-width: 0;
  color: var(--textColorButton)
}
.navigation > li {
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  border-top-width: 0;
}



/* SIDEBAR */
#ptSidebar {
  overflow: hidden;
}
/* Small icons */
.sidebarApp-item.active .navigationItem-icon {
  color: var(--textColorLight);
}
.sidebarApp-item .navigationItem-item,
.sidebarApp-item .sidebarApp-link,
.sidebarApp-item .navigationItem-icon {
  color: var(--textColorLight);
  transition: all .2s ease-in;
  outline: none;
}
.sidebarApp-item .navigationItem-item:hover,
.sidebarApp-item .sidebarApp-link:hover,
.sidebarApp-item:hover .navigationItem-icon {
  color: var(--primaryColorHigh);
}

/* EXTRA ICONS */
.sidebarApp-item .navigationItem-btn-refresh,
.sidebarApp-item .navigationItem-icon, .sidebarApp-item .sidebarApp-icon, .sidebarApp-menu .menuLabel-icon {
  color: var(--textColorLight);
}
.sidebarApp-item .navigationItem-counter, 
.sidebarApp-menu .menuLabel-counter {
  color: var(--textColorLight);
}


/* TOOLBAR */
.pm_toolbar {
  box-shadow: none;
}




/* MESSAGES BOX */
body #wrapper {
  position: relative;
  border-width: 2px;
  border-color: var(--textColorLight);
  border-radius: 1px;
  border-style: solid;
  overflow: hidden;
}
#wrapper::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:-190px;
  bottom: 0;
  background-image: var(--image);
  background-size:cover;
  filter: blur(8px);
  z-index: -1;
}

/* MESSAGE VIEW */
#pm_thread, #pm_thread > * {
  outline: none;
}
/* Full message box */
#conversation-view .message, 
#conversation-view .message:focus,
#conversation-view .message:active {
  border-width: 0;
}
/* Message subject */
#conversation-view header, #conversation-view header:focus {
  border: none;
  outline: none;
}
#conversation-view header h1 {
  color: white;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  padding: 0;
  padding-top: 5px;
}
/* Contains "From", "Date", "Star" */
#conversation-view .message .summary {
  //position: relative;
  color: white;
  border: none;
  background: transparent;
}

/* From tag */
/*#conversation-view .message .summary .meta .contact span*/
.from, .from > * {
  color: var(--primaryColorHigh) !important;
  font-weight: bold;
  vertical-align: bottom;
}
/* From Value */
.from-value {
  color: var(--textColorLight);
  vertical-align: center;
}
/* Date and Star are a bit separated */
#conversation-view .message .summary .summary-right {
  background: transparent;
}
#conversation-view .message .summary .summary-right > * {
  background: transparent;
}

/* MESSAGE BODY */
#conversation-view .message .details {
  background: transparent;
  border-bottom: 1px solid var(--textColorLight);
}
#conversation-view .message .details .recipients-summary strong {
  color: var(--primaryColorHigh);
  font-weight: bold;
}
#conversation-view .message .toggleDetails {
  color: var(--primaryColorHigh);
  font-weight: bold;
  margin-left: -10px;
}
/* Archive */
#conversation-view .message .summary .location.folders {
  background: transparent;
}
/* Show previous */
#conversation-view .message .frame .email .pm_button.more {
  background-color: var(--colorButton);
}
.frame a {
  color: var(--linkColor);
}
#conversation-view .frame, #pm_main {
  background: var(--transparentLight);
  color: var(--textColorLight);
}
/* div.frame.message-frame {
  background-color: var(--transparentLight);
} */
/* some message body */
.section-padding {
  background: transparent;
}
/* LOAD REMOTE CONTENT */
.messageExtra-container > [class*="-container"] {
  background-color: var(--transparentLight);
  color: var(--textColorLight);
}
.messageExtra-container .pm_button {
  background-color: var(--buttonColor) !important;
  border: none;
  outline: none;
}
.messageExtra-container .pm_button.link {
  background-color: transparent !important;
}
.messageExtra-container .pm_button.link:hover {
  color: var(--textColorButton) !important;
  background-color: transparent !important;
}
.messageExtra-container .pm_button:hover {
  background-color: var(--buttonColorHover) !important;
  border: none;
}
.messageExtra-container .pm_button:active {
  background-color: var(--buttonColorPressed) !important;
  border: none;
}

/* MESSAGE LIST */
body #conversation-list-columns {
  position:relative;
  border-right: 1px solid var(--textColorLight);
}
/* This would change a bit the color of the scrollbar
   (which you can't do properly on firefox) */
#conversation-list-columns::after {
  content: '';
  position: absolute;
  background-color: white;
  top: 0px;
  right: 0;
  bottom: 0px;
  width: 9px;
  opacity: 0.8;
  z-index: 99;
  pointer-events: none;
}
/* .conversation-wrapper {
  overflow: hidden;
} */
/* Unread message */
.conversation {
  position: relative;
  background: transparent;
  border-bottom-color: var(--textColorLight);
}
body #conversation-list-rows .conversation,
body #conversation-list-rows .conversation.read {
  position: relative;
  background: transparent;
  border-bottom-color: var(--textColorLight);
}
body #conversation-list-rows .conversation .subject h4 {
  color: var(--primaryColorHigh);
}
body #conversation-list-rows .conversation::before {
  content: none;
}
body #conversation-list-rows .conversation:hover::before,
body #conversation-list-rows .conversation.read:hover::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 5px;
  top: 0;
}
.conversation::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.3;
  z-index: -1;
}
.conversation .row h4 {
  color: var(--primaryColorHigh);
}
.conversation.read {
  background: transparent;
}
.conversation.read::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0;
}
.conversation.read .row h4 {
  color: var(--textColorLight);
}
.conversation.marked::before {
  background-color: var(--primaryColorHigh);
}
.conversation.active {
  border-bottom-color: var(--textColorLight);
}
.conversation.active .row h4 {
  font-weight: bold;
}
/* Checkboxes */
.customCheckbox-input:checked + .customCheckbox-mask,
.customCheckbox-input:checked + .customCheckbox-mask:hover {
  background-color: var(--primaryColorHigh);
  border-color: var(--primaryColorHigh);
  outline: none;
}




/* IN SETTINGS */
#pm_settings {
  position: relative;
  border-width: 2px;
  border-color: var(--textColorLight);
  border-radius: 1px;
  border-style: solid;
  overflow: hidden;
}
#pm_settings::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:-190px;
  bottom: 0;
  background-image: var(--image);
  background-size:cover;
  filter: blur(8px);
  z-index: -1;
}
/* VARIOUS ITEMS */
html.protonmail .text-purple {
  color: var(--primaryColorHigh) !important;
}
.customRadio-input:checked + .customRadio-mask {
  box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 10px var(--primaryColorHigh);
  border-color: var(--primaryColorHigh);
}

.navigationSettings-icon {
  transition: all .2s ease-in;
}
li.sidebarApp-item:hover .navigationSettings-icon {
  color: var(--primaryColorHigh);
}
/* AVISOS */
.alert.alert-info {
  background-color: var(--transparentLight);
  color: var(--textColorLight);
}
/* SOME BUTTONS */

.pm_badge.primary {
  background-color: var(--buttonColorPressed);
}
.pm_toggle-checkbox:focus + .pm_toggle-label, 
.pm_toggle-label:hover {
  background-color: var(--buttonColor);
}
.pm_toggle-checkbox:checked + .pm_toggle-label {
  background-color: var(--buttonColor);
}
.pm_toggle-checkbox:checked:focus + .pm_toggle-label,
.pm_toggle-checkbox:checked + .pm_toggle-label:hover {
  background-color: var(--buttonColorHover);
}
/* BACK TO MAIL */
.sidebarApp-container .sidebar-btn-back {
  transition: all .2s ease-in;
}
.sidebarApp-container .sidebar-btn-back:hover {
  color: var(--buttonColor);
  border-color: var(--buttonColor);
}
/* DELETE ACCOUNT */
.pm_button.error:focus, .pm_button.error:hover {
  background-color: rgb(188, 112, 112);
}
/* DASHBOARD */
.settingsDashboard-overview-section-table-container .overviewSection-container .overviewSection-tbody-billing {
  background-color: var(--transparentLight);
}
.overviewSection-container .topUp-button,
.giftCodeBtn-container {
  color: var(--linkColor);
}
.settingsDashboard-plans {
  background-color: var(--transparentLight);
}
.settingsDashboard-plans::before {
  background-color: transparent;
}

/* FILTERS */
.emailBlockList-row {
  color: var(--textColorLight);
}

/* SECURITY */
.pm_table table td {
  color: var(--textColorLight);
}

/* KEYS */
.key-row > * {
  color: var(--textColorDark) !important;
}
.addressKeysView-toggle .pm_button {
  border: none;
}


/* VPN */
.vpn-container .vpn-ressourcesSection-clients-list,
.vpn-container .vpn-ressourcesSection-clients-item-container {
  background-color: var(--transparentLight);
}



/* CONTACTS */
.contacts-panels {
  position: relative;
  border-width: 2px;
  border-color: var(--textColorLight);
  border-radius: 1px;
  border-style: solid;
  overflow: hidden;
}
.contacts-panels::after {
  content: '';
  background: var(--imageFilter);
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}
.contacts-panels::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:-190px;
  bottom: 0;
  background-image: var(--image);
  background-size:cover;
  filter: blur(8px);
  z-index: -2;
}

/* Contact details */
.delete, .compose, .merge {
  color: var(--textColorLight) !important;
}
.delete:hover, .compose:hover, .merge:hover {
  color: var(--textColorDark) !important;
}
.contactViewDetail-group {
  background-color: var(--transparentLight);
}
.contactViewItem-container a,
.contactViewItem-container a:hover {
  color: var(--linkColor);
}
/* Contacts list */
.contactList-thead > tr > * {
  background: transparent !important; 
}
.pm_table table th {
  color: var(--primaryColorHigh);
  font-weight: bold;
}
.contactList-table {
  background: transparent; 
}
tr.contactList-item-activeCursorContact > * {
  background-color: var(--transparentLight);
}
tr.contactList-item-activeCursorContact .customCheckbox-container {
  border: none;
}
tr.contactList-item .text-center {
  border-left: 4px solid transparent;
}
tr.contactList-item:hover .text-center {
  border-left: 4px solid var(--primaryColorHigh);
}


/* WELCOME */
.conversationPlaceholder header {
  text-align: center;
  color: var(--testColor)
  font-weight: bold;
  padding: 15px 40px;
  border-bottom: 1px solid var(--textColorLight);
}
.conversationPlaceholder section {
  border: 1px solid var(--textColorLight);
}
.conversationPlaceholder #storageStatus .wrap span {
  color: var(--textColorLight);
}
.conversationPlaceholder #storageStatus .wrap span strong {
  color: var(--linkColor);
}
.storageBar .storageBar-progress {
  background-color: var(--linkColor);
}


/* SEARCH BAR */
.search-form-fieldset {
  background-color: var(--transparentLight);
}
.search-form-fieldset-input::placeholder,
.search-form-fieldset > * {
  color: var(--textColorDark) !important;
}

/* Modal Dialogues */
.pm_modal .modal-dialog {
  border-color: var(--textColorDark);
  border-radius: 5px;
}
.modal-footer .pm_button {
  color: var(--textColorDark);
}
.modal-footer .pm_button.primary {
  color: var(--textColorButton);
}
.pm_modal .modal-dialog .close {
  background-color: var(--textColorDark);
}
.alert.alert-info {
  color: var(--colorText2);
}

.sidebarApp-container .footer div.link a,
.sidebarApp-container .footer div.storage strong {
  color: var(--textColorLight);
}

/* Identity adress */
/* Language choice */
/* Sent/Drafts appearance */
span.pm_select .addressesSelector-select,
#selectDefaultLanguage,
.movedSelect-select,
.chooseComposerMode-container .ng-pristine,
.chooseTextDirection-select {
  color: var(--textColorLight) !important;
}


/* HIDE ADS */
#pm_latest > section:nth-child(3) {
  display: none;
}
#pm_latest .pm_grid, 
#pm_latest div.col-1-2:nth-child(1), 
#pm_latest div.col-1-2:nth-child(2) {
  display: none;
}
.navigation-upgrade-item {
  display: none;
}
.navigation-upgrade-item:hover {
  display: none;
}
.navigation-upgrade-item > * {
  display: none;
}